.target-container {
  text-align: center;
}

.target {
  font-size: 64px;
  display: inline-block;
  width: 100%;
  color: orange;
}

.selection {
  display: flex;
}

.selection > * {
  padding: 4px;
  flex-grow: 1;
  flex-basis: 0;
}

.selection select {
  border: none;
  width: 100%;
  font-size: 0.85em;
  outline: 0;
}
